<?php


// HPAPI DBA PRIVILEGES - HPAPI_DBA_PRIVS_DYNAMIC is useful in development but slow in production
define ( 'HPAPI_DBA_COLS_DYNAMIC',          true                                                                                    );
define ( 'HPAPI_DBA_COLS_DIR',              HPAPI_DIR_CONFIG.'/whitelamp-uk/hpapi-dba-columns'                                      );
define ( 'HPAPI_DBA_COLS_FILE_SUFFIX',      '.array.php'                                                                            );

// Database extension
require_once HPAPI_DIR_HPAPI.'/whitelamp-uk/hpapi-dba/Hpapi/DbaDb.class.php';

